*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;;
}
#container{
    width: 50%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: antiquewhite;
    padding: 20px 20px;
    border: 2px solid black;
    box-shadow: 1px 1px 5px rgb(200,0,222);
    border-radius: 100px 50px;
}
label{
    padding: 10px 2px;
}
button{
    padding: 8px;
    color: rgb(255, 255, 255);
    background-color: hsl(0, 48%, 76%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-radius: 10px 5px;
    cursor: pointer;
}
button:hover{
    padding: 10px;
    font-size: 16px;
    background-color: black;
}
input{
    padding: 10px 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    border-radius: 10px;
    width: 30px;
}