body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
.heading{
    display: flex;
    text-align : center;
    gap: 10px; 
    justify-content: center; 
}
.container{
    gap: 30px; 
    justify-content: center;
}
.button{
  background-color: #5500ff;
  color: rgb(31, 1, 1);
  padding: 10px 20px; 
  border: none; 
  border-radius: 10px 2px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  transition: background-color 0.25s,color 0.25s,font-size 0.25s;
}
.button:hover{
  background-color: #e99d9d;
  color: rgb(255, 255, 255);
  padding: 10px 20px; 
  border: none; 
  border-radius: 10px 2px; 
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}
input[type="submit"] {
  background-color: #150cff;
  color: rgb(255, 255, 255);
  padding: 10px 20px; 
  border: none; 
  border-radius: 10px 2px; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
input[type="submit"]:hover {
  background-color: #e99d9d;
  color: rgb(255, 255, 255);
  padding: 10px 20px; 
  border: none; 
  border-radius: 10px 2px; 
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
}
input[type="text"], input[type = "email"], select{
  width: 275px;
  text-align: center;
  padding: 10px;
  border: 1px solid #91ff00;
  border-radius: 100px 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: #220015;
}
#displayNumbers{
  font-size: 150px;
}