*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background-color: antiquewhite;
}
.formSection{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#validateForm{
    display: flex;
    background-color: rgb(138, 107, 223);
    flex-direction: column;
    align-items: center;
    border: 10px solid white;
    padding: 10px 10px;
    border-radius: 5px;
    box-shadow: 10px 0 5px black;
    font-family: sans-serif;
    font-weight: bolder;
    width: 20%;
}
label{
    margin-top: 8px;
    margin-bottom: 5px;
}
#nameInput, #emailInput, #passInput, #repeatPass{
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px 20px;
    font-size: 15px;
    border: 2px solid gray;
    width: 250px;
    transition: 0.25s ease-in;
}
#nameInput:focus, #emailInput:focus, #passInput:focus, #repeatPass:focus{
    border-color: dodgerblue;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(30,144,255,0.5);
}
#validationBtn{
    margin-right: 50px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
    background-color: black;
    color:white;
    padding: 6px;
    border-radius: 5px 10px;
    transition: 0.25s ease-in;
}
#validationBtn:hover{
    border: 2px solid black;
    background-color: white;
    color: black;
    box-shadow: 5px 3px 3px gray;
    transition: 0.25s ease-in;
}
#validationBtn:focus{
    padding: 5px;
    color:white;
    background-color: gray;
    font-size: 16px;
    box-shadow: none;
}
.error-message{
    font-size: 15px;
    color: red;
    margin-bottom: 10px;
    margin-left: 10px;
}
.inputSection{
    display: flex;
    flex-direction: column;
}