*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(240, 198, 198);
}
.social-Icons-container{
    display: flex;
    gap: 24px;
}
.social-Icons-container a{
    background-color: white;
    padding: 10px;
    border-radius: 50px;
    display: grid;
    place-items: center;
    box-shadow: 0 3px 5px rgb(0, 0, 0);
}
.social-Icons-container a svg{
    height: 25px;
    fill: black;
}
.social-Icons-container a::before{
    content: attr(name);
    position: absolute;
    display: none;
    background-color: var(--accent-color);
    color:white;
    padding: 3px 8px;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 3px 5px black;
    opacity: 0;
    transform: translateY(-30px) rotate(25deg);
    transition: 0.25s ease-in;
}
.social-Icons-container a:hover::before{
    transform: translateY(-55px) rotate(0);
    opacity: 1;
}
.social-Icons-container a:hover, .social-Icons-container a:hover>svg{
    background-color: var(--accent-color);
    fill:white
}
.social-Icons-container a::after{
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    opacity: 0;
    transform: translateY(-20px) rotate(25deg);
    transition: 0.25s ease-in;
}
.social-Icons-container a:hover::after{
    transform: translateY(-40px) rotate(0);
    opacity: 1;
}